@colorWhite: #fff;
@fontSize12: 12px;
@fontSize14: 14px;
@fontColorRed: rgb(244, 59, 59);
@fontColorBlue: rgb(51, 93, 232);

.contbody_height{
    height: calc(100vh - 90px);
    overflow-y: auto;
}
.background_color_white{
    background-color: @colorWhite;
}
.display_flex{
    display: flex;
}
.align_items_center{
    align-items: center;
}
.goodsinfo_jiage{
    padding: 10px;
    span{
        font-size: 12px;
        color: #646464;
    }
    .goodsinfo_ysjiagenum{
        color: @fontColorRed;
        font-size: 14px;
    }
}
.margin_left_20{
    margin-left: 20px;
}
.goodsinfo_scjiagenum{
    text-decoration: line-through;
}
.goodsinfo_gmnumbox{
    align-items: center;
}
.goodsinfo_numbtn{
    padding: 5px 18px;
    background-color: #e6e6e6;
}
.jianbtn{
    border-radius: 3px 0px 0px 3px;
}
.jiabtn{
    border-radius: 0px 3px 3px 0px;
}
.goodsinfo_numinput{
    width: auto!important;
    min-width: 50px!important;
    height: 31px!important;
    padding: 2px 4px!important;
    margin-bottom: 0px!important;
    border-radius: 0px!important;
    border-color: #e6e6e6!important;
    font-size: 16px;
    text-align: center;
}
.goodsinfo_gmtitle{
    display: inline-block;
    width: 150px;
}
.font_size_12{
    font-size: @fontSize12;
}
.goodsinfo_footer{
    display: block;
    .mint-button{
        margin-top: 10px;
    }
}
.car_goodsimg{
    width: 50px;
    img{
        width: 100%;
    }
}
.goodscar_title{
    font-size: @fontSize14;
}
.goodscar_title_jiage{
    color: @fontColorRed;
    width: 40px;
}
.goodscar_title_scbtn{
    color: @fontColorBlue;
    width: 34px;
    margin-left: 4px;
}
.goodsinfo_imgcontent {
    justify-content: space-between;
    .goodsinfo_zongjia {
        
        p{
            font-size: 12px;
            color: #646464;
            span{
                font-size: 14px;
                color: @fontColorRed;
            }
        }
    }
}
.newsinfo_cont 
figure a{
    display: block;
    text-align: center;
}
